:root {
  --header-color: #ffffff;
  --border-bolor: rgb(61, 61, 61);
  --bg-color: #ffffff;
  --titles-color: rgb(0, 0, 0);
  --txt-color: white;
  --team1-color: rgb(59, 173, 250);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--bg-color);
  color: var(--titles-color);
}

body * {
  font-family: "Inter", sans-serif;
}

header {
  width: 100vw;
  height: 10rem;
  background: var(--header-color);
  display: flex;
  position: absolute;
  top: 0;
  right: 0;

  align-items: center;
  justify-content: center;
}

#container {
  background: var(--bg-color);
  display: block;
  position: relative;
  width: min(
    85%,
    95rem
  ); /* a largura da pagina sendo menor que 95.0rem, o container fica 100% do tamanho da tela*/
  height: 65rem;
  margin: 11rem auto 0 auto;
  border: 0.2rem solid var(--border-bolor);
  border-radius: 2rem;
  padding: 2rem;
}

#teams {
  background: rgba(0, 0, 0, 0.5);
  right: 40%;

  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 2rem;
  margin: 2rem 0;
  border: 0.2rem solid var(--border-bolor);

  box-shadow: inset 0 0 10px 2px black;
}

#t1 {
  background: var(--team1-color);
  border-radius: 2rem;
  border: 0.2rem solid var(--border-bolor);
  box-shadow: 0 0 10px 0 black;
  font-size: 2rem;
  width: min(40%, 400px);
  height: 6rem;
  text-align: center;
}

#t2 {
  background: red;
  border-radius: 2rem;
  border: 0.2rem solid var(--border-bolor);
  box-shadow: 0 0 10px 0 black;
  font-size: 2rem;
  width: min(40%, 400px);
  height: 6rem;
  text-align: center;
}

#scoreboard {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  border-radius: 2rem;
  margin: 2rem 0;
  border: 0.2rem solid var(--border-bolor);
  box-shadow: inset 0 0 10px 2px black;
}

#p1,
#p2 {
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem 2.5rem;
  margin: 1.5rem;
  border-radius: 100%;
  border: 0.2rem solid var(--border-bolor);
  box-shadow: 0 0 10px 0 black;
}

#buttonMarker {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  text-align: center;
  margin: 0;
}

#wins {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  border-radius: 2rem;
  margin: 2rem 0 2rem;
  border: 0.2rem solid var(--border-bolor);
  box-shadow: inset 0 0 10px 2px black;
}

#w1,
#w2 {
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem 2.5rem;
  margin: 1.5rem;
  border-radius: 100%;
  border: 0.2rem solid var(--border-bolor);
  box-shadow: 0 0 10px 0 black;
}

#marker {
  background: black;
  color: var(--txt-color);
  width: 5rem;
  height: 5rem;
  text-align: center;
  border-radius: 100%;
  font-size: 2rem;
  transition: 100ms linear;
  border: 0.2rem solid var(--border-bolor);
  box-shadow: 0 0 10px 0 black;

  /*transition: propriedade duração função_de_tempo atraso*/

  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
}
#marker:hover {
  transform: scale(1.1);
}

a {
  color: black;
  text-decoration: none;
}
footer {
  margin: 4rem 0 0;
  text-align: center;
  font-size: 2rem;
}

#reset {
  display: flex;
  align-items: center;
  justify-content: center;
}

#res {
  background-color: red;
  color: white;
  height: 5rem;
  border-radius: 2rem;
  margin-top: 2rem;
  box-shadow: 0 0 10px 0 black;
  font-size: 2rem;

  transition: 100ms linear;
}

#res:hover {
  transform: scale(1.1);
}
