:root {
  --header-color: #7e207e;
  --border-bolor: white;
  --bg-color: #ac38acc0;
  --txt-color: white;
}

body {
  background: var(--bg-color);
  color: var(--txt-color);
}

body * {
  font-family: "Inter", sans-serif;
}

header {
  width: 100vw;
  height: 100px;
  background: var(--header-color);
  display: flex;
  position: absolute;
  top: 0;
  right: 0;

  align-items: center;
  justify-content: center;
}

#container {
  background: var(--bg-color);
  display: block;
  position: relative;
  width: min(
    85%,
    950px
  ); /* a largura da pagina sendo menor que 950px, o container fica 100% do tamanho da tela*/
  height: 650px;
  margin: 110px auto 0 auto;
  border: 2px solid var(--border-bolor);
  border-radius: 30px;
  padding: 20px;
}

#teams {
  background: rgba(0, 0, 0, 0.5);
  right: 40%;

  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-radius: 20px;
  margin: 20px 0;
  border: 2px solid var(--border-bolor);
}

#t1 {
  background: blue;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid var(--border-bolor);
}
#t2 {
  background: red;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid var(--border-bolor);
}

#scoreboard {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  margin: 20px 0;
  border: 2px solid var(--border-bolor);
}

#p1,
#p2 {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 25px;
  margin: 15px;
  border-radius: 100%;
  border: 2px solid var(--border-bolor);
}

#points {
  display: flex;
  justify-content: space-evenly;
}


h2 {
  text-align: center;
  margin: 0;
}

#wins {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  margin: 20px 0 20px;
  border: 2px solid var(--border-bolor);
}

#w1,
#w2 {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 25px;
  margin: 15px;
  border-radius: 100%;
  border: 2px solid var(--border-bolor);
}

input {
  background: black;
  color: var(--txt-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  font-size: 30px;
  transition: 100ms linear;
  border: 2px solid var(--border-bolor);

  /*transition: propriedade duração função_de_tempo atraso*/

  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
input:hover {
  transform: scale(1.1);
}

a {
  color: var(--txt-color);
  text-decoration: none;
}
footer {
  margin: 40px 0 0;
  text-align: center;
  font-size: 20px;
}

#reset {
  display: flex;
  align-items: center;
  justify-content: center;
}

#res {
  width: 120px;
  height: 50px;
  border-radius: 20px;
  margin-top: 20px;
}
